<h2>https://www.bedos-fioul.com</h2>
<h3>Un visiteur a laissé un avis sur votre site internet</h3>
<h4>message de {{ opinions.name }} </h4>
<h4>Message : </h4>
<p>{{ opinions.content }}</p>
<hr>
<br>
<p>SARL BEDOS ET FILS <br> 66310 ESTAGEL</p>
<br>
<p>Tél. : 09 70 35 26 50</p>
<br>
<p>bruno.bedos@gmail.com</p>

