<h2>Livraison de fioul : nous contacter</h2>
<h3>message de :</h3>
<ul>
    <li>nom : {{ Phone.name }} souhaite etre rappelé</li>
    <li>numero de telephone : {{ Phone.phoneNumber }}</li>
</ul>
<hr>

<ul>
    <li>
        <i class="fas fa-map-marker fa-2x blue-text"></i>
        <p>SARL BEDOS ET FILS <br> 66310 ESTAGEL</p>
    </li>

    <li>
        <p>Tél. : 09 70 35 26 50</p>
    </li>

    <li>
        <p>bruno.bedos@gmail.com</p>
    </li>
</ul>