{% extends 'base.html.twig' %}
{% block titles %}
    <!--Section heading-->
    <div class="title justify-content-center text-center ml-sm-2 col-md-12">
        <h2 class="green-text text-uppercase font-weight-bold mt-1">
            Mentions légales
        </h2>
        <hr class="green-text hr-light">
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mention">
                <h2 class="green-text">Confidentialité</h2>
                <p>
                    SARL BEDOS ET FILS n'enregistre pas d'informations personnelles permettant l'identification, à
                    l'exception des formulaires que l'utilisateur est libre de remplir. Ces informations ne seront pas
                    utilisées sans votre accord, nous les utiliserons seulement pour vous adresser des courriers, des
                    brochures, des devis ou vous contacter.
                </p><br>
                <p>
                    Les informations recueillies sur les sites bénéficient de la protection de la loi "Informatique et
                    Libertés" n° 78-17 du 06 janvier 1978. Elles bénéficient d'un droit d'accès, de rectification,
                    d'opposition à communication et de suppression sur simple demande à SARL BEDOS ET FILS, Route
                    Montner,
                    66310 ESTAGEL.
                </p><br>
                <p>SARL BEDOS ET FILS pourra procéder à des analyses statistiques sans que celles-ci soient nominatives
                    et
                    pourra en informer des tiers (organismes d'évaluation de fréquentation) sous une forme résumée et
                    non
                    nominative.
                </p><br>
                <h2 class="green-text">Règlement général sur la protection des données (RGPD)</h2>
                <p>SARL BEDOS ET FILS s'engage à ce que la collecte et le traitement de vos données, effectués à partir
                    du
                    site bedos-fioul.com, soient conformes au règlement général sur la protection des données (RGPD).
                    Chaque
                    formulaire ou téléservice limite la collecte des données personnelles au strict nécessaire
                    (minimisation
                    des données) et indique notamment :
                </p>
                <ul>
                    <li>quels sont les objectifs du recueil de ces données,</li>
                    <li>si ces données sont obligatoires ou facultatives pour la gestion de votre demande,</li>
                    <li>qui pourra en prendre connaissance (uniquement SARL BEDOS ET FILS en principe, sauf précision
                        dans
                        le formulaire lorsqu'une transmission à un tiers est nécessaire à la gestion de votre demande),
                    </li>
                </ul>
                <p> Les données personnelles recueillies dans le cadre des services proposés sur bedos-fioul.com sont
                    traitées selon des protocoles sécurisés et permettent à SARL BEDOS ET FILS de gérer les demandes
                    reçues
                    dans ses applications informatiques.
                </p><br>
                <p>Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de
                    données
                    personnelles gérés par SARL BEDOS ET FILS, vous pouvez contacter SARL BEDOS ET FILS et
                    éventuellement
                    son délégué à la protection des données (DPO), si distingué.
                </p>
            </div>
            <div class="col-md-6 mention">
                <h2 class="green-text">Utilisation de cookies</h2>
                <p>La gestion des commandes nécessite l'utilisation de cookies. Des informations non personnelles sont
                    enregistrées par ce système de cookies (fichiers texte utilisés pour reconnaître un utilisateur et
                    ainsi
                    faciliter son utilisation du site). Ceux-ci n'ont aucune signification en dehors de leur utilisation
                    sur
                    le site <a href="{{ path('home') }}" class="green-text">bedos-fioul.net</a></p>
                <h2 class="green-text">Liens hypertexte</h2>
                <p>SARL BEDOS ET FILS ne contrôle pas les sites en connexion avec le sien, et ne saurait donc être
                    responsable de leur contenu. Les risques liés à l'utilisation de ces sites incombent pleinement à
                    l'utilisateur. Il se conformera à leurs conditions d'utilisation.</p>
                <h2 class="green-text">Éditeur</h2>
                <p>SARL BEDOS ET FILS <br>
                    RCS : 32930383800026 <br>
                    Siège social : Route Montner, 66310 ESTAGEL. <br>
                    N° de téléphone : 09 70 35 26 50 <br>
                    N° de Fax : <br>
                </p>
                <h2 class="green-text">Directeur de la publication</h2>
                <p>SARL BEDOS ET FILS</p>
            </div>
        </div>
    </div>
{% endblock %}




